<div class="photo">
    <div class="picture">
        <%=
          path = fc_photo.location
          if asset_exist?(path)
            image_tag path
          end
        %>
    </div>
    <div class="photo-caption">
        <p><%= fc_photo.attribution %></p>
    </div>
</div>