<div class="variety" id="<%= dom_id variety %>">
    <div><%= link_to variety.name, variety_path(variety), data: { turbo: false } %></div>
    <div class="variety_photo"><%=
        if not (variety.fc_photos).blank?
          path = variety.fc_photos[0].location
          if asset_exist?(path)
            image_tag path
          end
        end
    %></div>
    <div class="variety_desc">
        <%= pretty_desc(variety)  %>
    </div>
</div>