<main class="container">
    <div class="header">
        <h1>Varieties</h1>
    </div>

  <div class="search-container">
  <h2>Show only:</h2>
    <div class="color-filter-container">
      <ul>
        <li>Pink</li>
        <li>White</li>
        <li>Blue</li>
        <li>Lavender</li>
        <li>Red</li>
      </ul>
    </div>
  </div>

    <div class="results-container">
        <%= render @varieties %>
        <%= paginate @varieties %>
    </div>
</main>