<main class="container">
    <div class="header">
        <h1>Varieties</h1>
    </div>

    <div class="results-container">
        <%= render @varieties %>
        <%= paginate @varieties %>
    </div>
</main>