<main class="container">
    <div class="header">
        <h1>Varieties</h1>
    </div>

  <div class="search-container">
  <h2>Show only:</h2>
    <div class="color-filter-container">
    <ul><%= render partial: 'bloom_colors/bloom_colors' %></ul>



    </div>
  </div>


    <div class="results-container">
      <%= render @varieties %>
      <%== pagy_nav(@pagy) %>
    </div>


</main>